<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.musicalstrcutureapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BluesActivity"
            android:label="@string/genre_blues"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".TrackActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".JazzActivity"
            android:label="@string/title_activity_jazz"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PopActivity"
            android:label="@string/title_activity_pop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RockActivity"
            android:label="@string/title_activity_rock"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RapActivity"
            android:label="@string/title_activity_rap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FolkActivity"
            android:label="@string/title_activity_folk"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ClassicalActivity"
            android:label="@string/title_activity_classical"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>